body {
    background-color: orangered;
}
.container{
    display: grid;
    text-align: center;
  
    border-radius: 25%;
    border: 1px, rgb(246, 219, 219) solid;
    width: 100%;
    height:auto;
    
}
.row {
   
    grid-template-rows: 1;
  
    border: 1px solid black;
    width: 100%;
}
.column {
    
    border: 1px solid green;
    width: 100%;
}
p {
    font-size:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: wider;
    color: bisque  ;
    }
img {
    
    outline: cadetblue;
}
