body {
    background-color: orangered;
}
.container{
    display: flex;
    justify-items: center;
    text-align: center;
    border-radius: 25%;
    border: 1px, rgb(246, 219, 219) solid;
}
.row {
    grid-template-rows: 1;
    justify-items: center;
}
.column {
    grid-template-columns: 2;
}
p {
    justify-items: center;
    color: azure;
    font-size: 20px;
    text-decoration:aquamarine;
}