body {
    background-color: orangered;
}
.container{
    display: flex;
    justify-items: center;
    border-radius: 25%;
    border: 1px, rgb(246, 219, 219) solid;
}
.row {
    grid-template-rows: 1;
}
.column {
    grid-template-columns: 2;
}